*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.navbar{
    background-color: rgba(92, 68, 53, 0.85);
    overflow: hidden;
    height: 55px;
}
.logo{
    float: left;
    width: 60px;
    height: 60px;
}
.cart{
    float: right;
    width: 50px;
    height: 50px;
}
.search{
    float: right;
}
.navbarԼeft a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbarԼeft a:hover{
    color: black;
}
.navbarRight a{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbarRight a:hover{
    color: black;
}
.box{
    position: absolute;
    top: 10%;
    left: 25%;
}
.categories{
    position: absolute;
    top: 10%;
    left: 4%;
}
.featured{
    position: absolute;
    top: 40%;
    left: 4%;
}