*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    position: sticky;
    top: 0; 
}
.grid-container-header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(92, 68, 53, 0.85);
}
.logo{
    position: absolute;
    top: 5px;
	left: 0px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 95%;
    font-family: "Lucida Handwriting";
    color: rgba(135, 255, 235, 0.5);
}
.carticon{
    width: 40px;
    height: 40px;
}
.grid-item-left{
    padding: 5px 120px;
    display: flex;
}
.grid-item-right{
    padding: 5px 120px;
    display: flex; 
    justify-content: flex-end; 
}
.grid-item-left a{
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.grid-item-left a:hover{
    color: black;
}
.grid-item-right a{
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.grid-item-right a:hover{
    color: black;
}
.grid-container-main{
    display: grid;
    grid-template-columns: auto auto auto;
}
.categories a{

    color: black;
    margin-left: 12px;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
.categories{
    display:flex;
    flex-direction: column;
    padding: 30px 140px;
}
.categories a:hover{
    color: rgba(92, 68, 53, 0.85);
}
.featured a{

    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
.featured{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.search{
    padding: 16px 16px;
}
.cart{
    padding: 3px 16px;
}
.container{
    text-align: left;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(92, 68, 53) 0px 0px 0px 2px;
    padding: 15px; 
    margin: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Arial";

}
.box:hover{
    box-shadow: 0 4px 4px 0px rgb(133, 133, 133), 0 4px 20px 0 rgb(133, 133, 133);
    color: rgb(92, 68, 53);
}
.box img{
    width: 200px;
    height: 200px;
}
.advertising{
    padding: 5px 120px;
    display: flex; 
}
.plus:hover{
    background-color: rgba(0, 128, 0, 0.5);
    cursor: pointer;
}
.plus{
    padding: 1px 42px;
}