*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.grid-container-header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(92, 68, 53, 0.85);
}
.logo{
    width: 50px;
    height: 50px;
}
.carticon{
    width: 40px;
    height: 40px;
}
.grid-item-left{
    display: flex;
}
.grid-item-right{
    display: flex; 
    justify-content: flex-end; 
}
.grid-item-left a{
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.grid-item-left a:hover{
    color: black;
}
.grid-item-right a{
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.grid-item-right a:hover{
    color: black;
}
.grid-container-main{
    display: grid;
    grid-template-columns: auto auto;
}
.categories a{

    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
.categories{

    display: flex;
    flex-direction: column;
    padding: 30px;
}
.categories a:hover{
    color: rgba(92, 68, 53, 0.85);
}
.featured a{

    color: black;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}
.featured{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.search{
    padding: 16px 16px;
}
.cart{
    padding: 3px 16px;
}
.container{
    text-align: center;
}
.box{
    background-color: rgb(255, 127, 127);
    text-align: center;
}
.box:hover{
    color: brown;
}
/* 
.navbar{
    background-color: rgba(92, 68, 53, 0.85);
    overflow: hidden;
    height: 55px;
}
.logo{
    float: left;
    width: 60px;
    height: 60px;
}
.cart{
    float: right;
    width: 50px;
    height: 50px;
}
.search{
    float: right;
}
.navbarԼeft a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbarԼeft a:hover{
    color: black;
}
.navbarRight a{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbarRight a:hover{
    color: black;
}


.categories{
    position: absolute;
    top: 10%;
    left: 4%;
}
.categories a{
    color: #000000;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
}
.featured{
    position: absolute;
    top: 40%;
    left: 4%;
}
.featured a{
    color: #000000;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
} */ 